<!--Olá para todos que estão vendo esse Código, na parte do front, temos Pedro, na parte do Back, temos Daniel-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizzaria</title>
  </head>
  <body>
    
   <header>
    <nav class="navigation">
     <span>PIZZA IMPÉRIO</span>
<br>
<h1>olá</h1>
      <ul class="nav-menu">
        <li class="nav-item"><a href="#">Home</a></li>
        <li class="nav-item"><a href="#">About</a></li>
        <li class="nav-item"><a href="#">Menu</a></li>
        <li class="nav-item"><a href="#">contato</a></li>
        <i class="ph-fill ph-magnifying-glass"></i>
      </ul>
      <div class="menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </header>



<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- <link rel="icon" type="image/png" href="{% static 'images/nome_da_imagem.png' %}"> -->
    <title>Página Inicial</title>
    <style>
        
    </style>
</head>
<body>
    <div class="container">
        <h1>WELCOME</h1>
    </div>
    
</body>
</html>
