<!--Olá para todos que estão vendo esse Código, na parte do front, temos Pedro, na parte do Back, temos Daniel-->
{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizzaria</title>
  </head>
  <body>
    
   <header>
    <nav class="navigation">
     <span>PIZZA IMPÉRIO</span>

      <ul class="nav-menu">
        <li class="nav-item"><a href="#">Home</a></li>
        <li class="nav-item"><a href="#">About</a></li>
        <li class="nav-item"><a href="#">Menu</a></li>
        <li class="nav-item"><a href="#">contato</a></li>
        <i class="ph-fill ph-magnifying-glass"></i>
      </ul>
      <div class="menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </header>



<html>
<head>

   
 
   
 



 <main id="estrutura">
   <h1>Pizzaria</h1>
 <menu><center>
   <figure class="pizzaName"><img src="https://c1.staticflickr.com/2/1883/44728847962_8f6220b72a_z.jpg" alt="profile-sample2"/>
  <figcaption>
    <h3>Today's Special</h3>
    <h5>$10</h5>
    <blockquote>
      <p>'This is a tasty one..'</p>
    </blockquote>
  </figcaption><a href="#"></a>
</figure>
<figure class="pizzaName"><img src="https://c1.staticflickr.com/1/80/263753643_9c804d1da6_b.jpg" alt="profile-sample2"/>
  <figcaption>
    <h3>Object of my desire</h3>
    <h5>$19.99</h5>
    <blockquote>
      <p>'A programmers delight, this classic has string cheese, an array of BBQ meats and 1 special sauce.'</p>
    </blockquote>
  </figcaption><a href="#"></a>
</figure>
<figure class="pizzaName"><img src="https://c1.staticflickr.com/5/4474/36998991453_11f85f7768_b.jpg" alt="profile-sample7"/>
  <figcaption>
    <h3>For Loop</h3>
    <h5>$44.44</h5>
    <blockquote>
      <p>'Spin your wheel with this quattro cheese mix doused in garlic and truffle oil. Loop there it is!'</p>
    </blockquote>
  </figcaption><a href="#"></a>
</figure>
<figure class="pizzaName"><img src="https://c1.staticflickr.com/5/4587/38331865635_1f85dbf220_b.jpg" alt="profile-sample6"/>
  <figcaption>
    <h3>Conditional Love</h3>
    <h5>$22.14</h5>
    <blockquote>
      <p>'This island favorite doesn't give you a chance to say no. Korean bulgogi meat, kim chee, mozzarella cheese and onions always returns true! Boo~Ya!'</p>
    </blockquote>
  </figcaption><a href="#"></a>
  </figure>
   <figure class="pizzaName"><img src="https://c1.staticflickr.com/4/3176/2976856006_7661f79a15_b.jpg" alt="profile-sample6"/>
  <figcaption>
    <h3>The DOM</h3>
    <h5>$16.99</h5>
    <blockquote>
      <p>'This dynamic blend of Duck, Olives and Mango will change your original thought of what a pizza should be. The only thing constant is change for this bad boy!'</p>
    </blockquote>
  </figcaption><a href="#"></a>
</figure>
<figure class="pizzaName"><img src="https://c1.staticflickr.com/9/8716/16560703537_dd5b14499b_b.jpg" alt="profile-sample6"/>
  <figcaption>
    <h3>Conjunction Function</h3>
    <h5>$17.02</h5>
    <blockquote>
      <p>'Create your own pie by passing in handpicked fresh ingredients. Invoke your appetite and creativity! Mamma Mia return back to glory.'</p>
    </blockquote>
  </figcaption><a href="#"></a>
</figure>

   </center>

     
       </menu>
     
     
       <subscribe>
         
         <div id="wrapper">
        <center>  <p><a class="button" href="#popup1">Subscribe</a></p>
           <div class="content">
          
             <div id="popup1" class="overlay">
<div class="popup">

  <a class="close" href="#">&times;</a>
  <div class="content">
  
  </div>
            
            <div class="login">
            <h3 class="sectionTitle">Subscribe</h3>
           <p id="deal">Sign up for special deals!</p>
           First Name:<input type="text" name="firstname"><br>
           Last Name:<input type="text" name="Lastname"><br>
           Email:<input type="email" name="email"<br><br>
           <input type="checkbox" name="sub">I have read and agree to the Privacy Policy.
           </div>
            <br><button class="submit">Submit</button>
            </subscribe></div>
        
           
           

        
     
           
    <script src="{% static 'js/pizza.js' %}"></script>
  </body>
</html>



