<!--Olá para todos que estão vendo esse Código, na parte do front, temos Pedro, na parte do Back, temos Daniel-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizzaria</title>
  </head>
  <body>
    <header>
      <nav class="navigation">
        <img
          class="nav-img"
          src="https://i.pinimg.com/originals/3e/f6/70/3ef6706c547372b9c593e8c600e70c9a.jpg"
          alt=""
        />
        <ul class="nav-menu">
          <li class="nav-item"><a href="#">Home</a></li>

          <li class="nav-item"><a href="#">Menu</a></li>
          <li class="nav-item"><a href="#">contato</a></li>
          <i class="ph-fill ph-magnifying-glass"></i>
        </ul>
        <div class="menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </header>
    <script src="pizza.js"></script>
  </body>
</html>
